@font-face {
  font-family: "Antonio-bold";
  src: url("../fonts/Antonio-Bold.ttf");
}

@font-face {
  font-family: "Antonio-regular";
  src: url("../fonts/Antonio-Regular.ttf");
}

@font-face {
  font-family: "Antonio-light";
  src: url("../fonts/Antonio-Light.ttf");
}
@font-face {
  font-family: "Choko";
  src: url("../fonts/ChokoMilky.ttf");
}

:root {
  --color1: rgba(133, 91, 226);
  --color2: rgba(7, 7, 7);
  --color3: rgba(226, 212, 90);
  --color4: rgba(225, 118, 90);
  --color5: rgba(93, 190, 116);
}

html::-webkit-scrollbar {
  background: var(--color5);
  width: 10px;
  color: black;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Antonio-regular;

  cursor: default;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  overflow-x: hidden;
  background-color: var(--color5);
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40dvh;
  background-color: var(--color5);
}

#icon {
  display: block;
  height: 70px;
  transition: rotate 0.5s linear;
}

#options {
  display: block;
  height: 45px;
  transition: rotate 0.5s linear;
  cursor: pointer !important;
}

#options:hover,
#icon:hover {
  transition: rotate 0.5s linear;
  rotate: 360deg;
}

.menus {
  display: flex;
  height: 30%;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0 !important;
  background-color: var(--color4);
}

.slogan {
  display: flex;
  height: 70%;
  align-items: end;
  justify-content: start;
  flex-grow: 1 !important;
  letter-spacing: 0.5rem;
  padding-left: 20px;
  border-bottom-right-radius: 200px;
  background-color: var(--color4);
}

.slogan p {
  font-family: Choko !important;
  font-size: 6.6rem;
  color: green;
  text-shadow: 1px 1px 0px #ff0000;
}

#round {
  margin-bottom: 15px;
  font-size: 2rem;
}

.timer-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 50dvh;
  justify-content: center;
  align-items: center;
  background-color: var(--color5);
  font-family: Antonio-bold !important;
}

#timer {
  font-size: 3.3rem;
  padding: 35px;
  background-color: var(--color3);
  border-radius: 12px;
  box-shadow: 3px 3px 5px 10px var(--color3);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

#start-pause,
#reset {
  font-family: Antonio-bold;
  font-size: 1.5rem;
  box-shadow: 5px 3px 0 0 var(--color2);
  color: white;
  background-color: transparent;
  padding: 10px;
}

#start-pause {
  margin-right: 15px;
}

#stop {
  margin-left: 15px;
}

#start-pause:hover,
#reset:hover {
  background-color: var(--color2);
}

.task-container {
  display: flex;
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 45px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}
